# Subgraph ID
SVSN_SUBGRAPH_ID=AFHGugzAJbgBSRvNnjEx4c1Wya5M4oMAWa5RsNnjQCrs
VSN_SUBGRAPH_ID=9m6ouChjPuv6ShsK9Q3rRkj5tWThz2P3LjKr3JihuR6n

# The Graph API key
# https://thegraph.com/studio/apikeys/
THE_GRAPH_API_KEY=

# Live Coin Watch API key
# https://www.livecoinwatch.com/tools/api
LIVECOINWATCH_API_KEY=
